@import url(styles.css);

.main__login{
    width: 70%;
    margin: auto;   
    padding: 10px;
}
.main__login p{
    padding: 15px;
    display: block;
    margin: 15px 0;
    
}
.main__login p input{
    width: 98%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.main__login button{
    display: block;
    width: 98%;
    margin: 30px auto;
    background-color:var(--celeste);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s;
}
.main__login button:hover{
    background-color: var(--azul);
    box-shadow: 1px 1px 6px 0px #000;
}