@import url(styles.css);
label{
    font-weight: 700 ;
}
.main__registro{
    padding: 15px;
    margin: auto;  
}
.main__registro p{
    display: block;
    padding: 15px;
    width: 100%;
}
.registro__input{
    width: 96%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.registro__perfil{
    display: block;
    padding: 10px 0;
}
p input{
    margin:10px 15px;
}
.input__foto{
    width: 96%;
}
.registro__intereses{
    display: block;
    padding: 10px 0;
}
.registro__intereses-contenedor p{
    display: block;

}
button{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--celeste);
    margin: 10px 5px;
    width: 45%;
    padding: 10px;
    transition: all 0.25s;
    max-width: 300px;
}
button:hover{
    background-color: #0022AA;
    box-shadow: 1px 1px 6px 0px #000;
}
.registro_boton-contenedor{
    text-align: center;
}